# 파이썬 자료 타입

* 숫자 타입
    * `int` : 정수
    * `float` : 실수
* 문자열 타입
    * `str`
* 논리 타입
    * `bool` : True/False
* 객체 타입
    * 파이썬에서는 변수를 선언할 때 자료 타입을 명시하지 않음.
변수의 자료 타입은 코드가 실행 때 결정됨.

In [ ]:
pi = 3.14
print(pi)
type(pi) #print(type(pi))

3.14

float

## 명시적 타입 변환

* `int(arg)` : arg를 정수 타입으로 변환해서 리턴.
* `float(arg)` : arg를 실수 타입으로 변환해서 리턴.
* `str(arg)` : arg를 문자열로 변환해서 리턴.

In [ ]:
# Colab 노트북에서 콘솔 입력 :
n = input('정수 입력 >>> ')

정수 입력 >>>1

In [ ]:
# n + 1  타입이 문자열 + 1 이여서 에러가 난다.
int(n) + 1 # int로 n을 바꿔준다.

2

In [ ]:
n + str(1) # '1' + '1'을 계산한다.

'11'

# 산술 연산자

`+, -, *, /, //, %, **`

* `/` : 정수, 실수 가리지 않고 소수점까지 계산하는 나눗셈.
* `//` : 나눈 몫.
* `%` : 나눈 나머지.
* `**` : 거듭제곱.

In [ ]:
10 / 3 #소수점까지

3.3333333333333335

In [ ]:
10 // 3 # 몫만

3

In [ ]:
10 % 3 # 나머지

1

In [ ]:
10 ** 3 # 10의 3승

1000

# 비교 연산자, 논리 연산자

* 비교 연산자 : `==, !=, >, >=, <, <_`
* 논리 연산자 : `and, or, not`

In [ ]:
x = 100
(x > 50) and (x < 150)

True

In [ ]:
50 < x < 150 # 자바와 자바스크립트에서는 불가능하지만 파이썬은 가능하다.

True