# list

* 여러 개의 값들을 하나의 변수에 저장하기 위한 데이터 타입. (java의 list와 다른 점은 java는 한 가지 타입만 저장이 가능하다.)
* 하나의 list에 다양한 값들(문자열, 숫자, ...)를 다 넣을 수 있다.
* element(원소, 요소) : 리스트에 저장되는 각각의 값.
* index(인덱스) : 리스트에서 원소가 저장된 위치.
    * 리스트의 인덱스는 **0**부터 시작.
    * 리스트의 마지막 인덱스는 (원소 개수 -1).
* 리스트는 원소들을 추가, 삭제, 변경할 수 있다.
    * `tuple`과 다른 점!
        * 리스트는 변경 가능한 여러개의 값들을 저장하는것.
        * tuple은 여러개의 값들을 가지고 있지만, 추가, 삭제, 변경이 안된다.

In [ ]:
# 리스트를 만드는 방법
# 숫자들을 저장하는 리스트
numbers = [] # 비어있는 리스트
numbers = [1, 2, 3, 10, 20, 30] # 6개의 정수들을 가지고 있는 리스트
numbers

[1, 2, 3, 10, 20, 30]

# 인덱싱(indexing)
인덱스를 사용해서 리스트의 원소를 참조하는 방법.

In [ ]:
numbers[0] # 리스트 numbers의 인덱스 0 위치의 원소

1

In [ ]:
numbers[5] # 리스트 numbers의 인덱스 5 위치의 원소

30

In [ ]:
numbers[-1] # 리스트에서 가장 마지막 원소

30

In [ ]:
numbers[-2] # 리스트에서 뒤에서 2번째 원소

20

# slicing

인덱스를 사용해서 리스트의 부분집합(리스트)를 잘라내는 방법.

하는 방법

`list[start:end]`

* start <= index < end 범위의 인덱스 위치의 원소들을 잘라냄.
* start는 생략 가능하지만 :은 생략할 수 없다.
* start를 생략한 경우에는 첫번째 원소부터 잘라낸다.
    * `list[0:5]`과 `list[:5]`는 같은 결과.
* end를 생략한 경우에는 마지막 원소까지 잘아낸다.
* 리스트를 slicing한 결과는 또 다른 새로운 **리스트**이다.

In [ ]:
numbers

[1, 2, 3, 10, 20, 30]

In [ ]:
numbers[1:4] # 1 <= index < 4

[2, 3, 10]

In [ ]:
numbers[3:6]

[10, 20, 30]

In [ ]:
numbers[3:]

[10, 20, 30]

In [ ]:
# 리스트에서 앞에서 3개를 선택
numbers[0:3]

[1, 2, 3]

In [ ]:
# 리스트에서 뒤에서 3개를 선택
numbers[-3:]

[10, 20, 30]

In [ ]:
numbers[0:1] #slicing -> 리스트

[1]

In [ ]:
numbers[0] # indexing - > 값(숫자)

1

# 문자열(str)

* 문자들의 **리스트.**
* 문자열은 인덱스를 사용할 수 있다.
* 인덱스를 사용하는 문자열은 indexing, slicing 가능하다.

In [ ]:
message = '안녕하세요, 여러분!' # 11개의 문자들로 이루어진 리스트.
message

'안녕하세요, 여러분!'

In [ ]:
message[0] #문자열에서 첫번째 문자

'안'

In [ ]:
# 문자열에서 마지막 문자
message[-1]

'!'

In [ ]:
# 문자열에서 앞에서 3글자
message[:3]

'안녕하'

In [ ]:
# 문자열에서 뒤에서 3글자
message[-3:]

'러분!'

In [ ]:
# 문자열 산술 연산 : +, *
print('hello' + 'hello')
print('hello' * 3)

hellohello
hellohellohello

# 리스트의 산술 연산

* `list + list`
* `list * int` 또는 `int * list`

In [ ]:
[1, 2, 3] + [4, 5, 6] # concatenate

[1, 2, 3, 4, 5, 6]

In [ ]:
[1, 2, 3] * 3

[1, 2, 3, 1, 2, 3, 1, 2, 3]

# list와 for 반복

In [ ]:
for x in 'hello': # 'hello'를 문자들의 리스트라고 생각하자.
    print(x)

h
e
l
l
o

In [ ]:
numbers = [1, 10, 5, 100]
for x in numbers:
    print(x)

1
10
5
100

In [ ]:
# len이라는 함수가 있고 len(numbers)를 사용하면 numbers의 개수를 알 수 있다.

In [ ]:
for x in range(len(numbers)):
    print(x) # 인덱스를 출력한다.

0
1
2
3

In [ ]:
for i in range(len(numbers)): # 0 <= x < len
    print(i, ':', numbers[i])

0 : 1
1 : 10
2 : 5
3 : 100

In [ ]:
# 파이썬은 위에 함수도 가능하지만 다른 함수를 사용한다.
for i, v in enumerate(numbers): # enumerate는 반복할때 마다 2개의 값을 리턴해준다.
    print(i, ':', v)

0 : 1
1 : 10
2 : 5
3 : 100

In [ ]:
numbers1 = [1, 2, 3]
numbers2 = [10, 11, 12]
result = [] # 빈(empty) 리스트
# numbers1과 numbers2의 같은 인덱스의 원소들끼리의 합을 원소로 갖는 리스트
# [11, 13, 15]
for i in range(len(numbers1)):
    result.append(numbers1[i] + numbers2[i])
print(result)

[11, 13, 15]

In [ ]:
result = []
for x, y in zip(numbers1, numbers2):
    result.append(x + y)
result

[11, 13, 15]

In [4]:
import random # random 모듈을 임포트
              # 파일에서 import는 한번만 하자.

In [ ]:
# random 모듈의 random() 함수를 호출
random.random() # 파이썬에서는 모듈이름을 변수로 쓰고, 그 뒤에 함수를 불러온다.
# [0, 1) 범위 (0 <= x < 1)의 실수 난수를 리턴해 준다.

0.06268190221879699

In [ ]:
# random 모듈의 randranga() 함수를 호출
random.randrange(10) # [0, 10) 범위의 정수 난수를 리턴한다.

2

In [ ]:
random.randrange(1, 4) # [1, 4) 범위의 정수 난수를 리턴.

2

# Exercises

# Ex 1.
빈 리스트를 생성.

1 이상 10 이하의 정수 난수 5개를 저장.

리스트의 모든 정수들의 합을 출력.

리스트의 모든 정수들의 평균을 출력.

In [47]:
numbers = [random.randrange(1, 11) for _ in range(5)]
print('numbers : ', numbers)
total = sum(numbers)
print('total : ', total)
av = total / len(numbers)
print('av : ', av)

numbers :  [10, 2, 8, 3, 8]
total :  31
av :  6.2

In [16]:
numbers = []
for x in range(5):
    x = random.randrange(1, 11)
    numbers.append(x)
print('numbers : ', numbers)

numbers_sum = 0

for x in numbers:
    numbers_sum += x
print('합계 : ', numbers_sum)

av = numbers_sum / 5
print('평균 : ', av)

numbers :  [7, 5, 10, 1, 9]
합계 :  32
평균 :  6.4

In [17]:
# for문 안에 변수를 사용하지 않으면 굳이 변수를 선언 하지 말고 _로 표현이 가능하다
numbers = []
for _ in range(5):
    numbers.append(random.randrange(1, 11))

total = sum(numbers) # sum 함수를 이용하면 총 합을 계산할 수 있다.
print(total)

average = total / len(numbers)
print(average)

28
5.6

# Ex 2.
빈 리스트(numbers)를 생성.

10 이상, 100 미만의 정수 난수 10개를 numbers에 저장.

numbers에서 짝수들만 선택해서 evens 리스트를 만들고 출력.

numbers에서 홀수들만 선택해서 odds 리스트를 만들고 출력.

In [59]:
numbers = [random.randrange(10, 100) for _ in range(10)]
print('numbers : ', numbers)

evens = [x for x in numbers if x % 2 == 0]
print('evens : ', evens)

odds = [x for x in numbers if x % 2 == 1]
print('odds : ', odds)

numbers :  [55, 62, 82, 17, 55, 52, 45, 80, 93, 62]
evens :  [62, 82, 52, 80, 62]
odds :  [55, 17, 55, 45, 93]

In [18]:
numbers = []
for x in range(10):
    numbers.append(random.randrange(10, 100))
print('numbers : ', numbers)

evens = []
odds = []
for x in numbers:
    if x % 2 == 0:
        evens.append(x)
    else:
        odds.append(x)
print('evens : ', evens)
print('odds : ', odds)

numbers :  [43, 78, 84, 78, 46, 70, 29, 56, 23, 60]
evens :  [78, 84, 78, 46, 70, 56, 60]
odds :  [43, 29, 23]

# Ex 3.
빈 리스트 numbers를 만듦.

-10 이상 10 이하인 범위의 정수 난수 10개를 numbers에 저장.

numbers의 원소가 양수이면 True, 그렇지 않으면 False를 저장하는 is_positive

리스트를 만들고 출력.

In [60]:
numbers = [random.randrange(-10, 11) for _ in range(10)]
print('numbers : ', numbers)

is_positive = [True if x > 0 else False for x in numbers]
print('is_positive : ', is_positive)

numbers :  [5, -1, 1, 2, -6, 6, 4, 7, -6, 8]
is_positive :  [True, False, True, True, False, True, True, True, False, True]

In [21]:
numbers = []
for x in range(10):
    numbers.append(random.randrange(-10, 11))
print('numbers : ', numbers)

is_positive = []

for x in numbers:
    if x > 0:
        is_positive.append(True)
    else:
        is_positive.append(False)
print('is_positive : ', is_positive)

numbers :  [-7, -4, -3, 9, -10, 8, -7, -3, -10, -1]
is_positive :  [False, False, False, True, False, True, False, False, False, False]

# Ex 4.
gender_codes 리스트에 0 또는 1을 랜덤하게 10개를 저장.

gender_codes의 값이 0이면 'Male', 그렇지 않으며 'Female'을 저장하는 genders

리스트를 만들고 출력.

In [63]:
gender_codes = [random.randrange(0, 2) for _ in range(10)]
print('gender_codes : ', gender_codes)

genders = ['Male' if x == 0 else 'Female' for x in gender_codes]
print('genders : ', genders)

gender_codes :  [0, 0, 1, 1, 1, 0, 0, 0, 1, 0]
genders :  ['Male', 'Male', 'Female', 'Female', 'Female', 'Male', 'Male', 'Male', 'Female', 'Male']

In [ ]:
gender_codes = []
for x in range(10):
    gender_codes.append(random.randrange(0, 2))
print('gender_codes : ', gender_codes)

genders = []
for x in gender_codes:
    if x == 0:
        genders.append('Male')
    else:
        genders.append('Female')
print('genders : ', genders)

gender_codes :  [1, 1, 1, 1, 1, 0, 0, 1, 0, 1]
genders :  ['Female', 'Female', 'Female', 'Female', 'Female', 'Male', 'Male', 'Female', 'Male', 'Female']

# Ex 5.
numbers1: 100 미만의 정수 난수 10개를 저장하는 리스트.

numbers2: 100 미만의 정수 난수 10개를 저장하는 리스트.

multiplication: numbers1과 numbers2의 같은 인덱스에 있는 원소들끼리의 곱셈

결과를 저장하는 리스트.

subtraction: numbers1의 원소에서 같은 인덱스에 있는 numbers2의 원소를 뺀 값을

저장하는 리스트.

numbers1, numbers2, multiplication, subtraction를 출력.

In [83]:
x = -1
is_positive = True if x > 0 else False # 삼항 연산자

is_positive

False

In [78]:
numbers1 = [random.randrange(100) for _ in range(10)]
numbers2 = [random.randrange(100) for _ in range(10)]
print('numbers1 : ', numbers1)
print('numbers2 : ', numbers2)

multiplication = [x + y for x, y in zip(numbers1, numbers2)]
print('multiplication : ', multiplication)

subtraction = [x - y for x, y in zip(numbers1, numbers2)]
print('subtraction : ', subtraction)

numbers1 :  [25, 71, 76, 27, 29, 61, 26, 8, 2, 43]
numbers2 :  [67, 43, 30, 39, 87, 4, 54, 63, 51, 42]
multiplication :  [92, 114, 106, 66, 116, 65, 80, 71, 53, 85]
subtraction :  [-42, 28, 46, -12, -58, 57, -28, -55, -49, 1]

In [ ]:
numbers1 = []
numbers2 = []

for x in range(10):
    numbers1.append(random.randrange(0, 100))
    numbers2.append(random.randrange(0, 100))
print('numbers1 : ', numbers1)
print('numbers2 : ', numbers2)

multiplication = []
subtraction = []

for x, y in zip(numbers1, numbers2):
    multiplication.append(x + y)
    subtraction.append(x - y)
print('multiplication : ', multiplication)
print('subtraction : ', subtraction)

numbers1 :  [69, 20, 35, 78, 28, 97, 95, 49, 16, 36]
numbers2 :  [44, 41, 87, 55, 75, 30, 1, 44, 71, 96]
multiplication :  [113, 61, 122, 133, 103, 127, 96, 93, 87, 132]
subtraction :  [25, -21, -52, 23, -47, 67, 94, 5, -55, -60]

# List comprehension(리스트 내포)

1 ~ 10 정수들을 순서대로 리스트에 저장 : [1, 2, 3, ..., 9, 10]

In [24]:
numbers = []
for x in range(1, 11):
    numbers.append(x)
numbers

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [29]:
# 한줄로 줄여서 표현하기
numbers = [x for x in range(1, 11)]
numbers

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [35]:
# [1, 3, 9, 16, ..., 81, 100] 저장하는 리스트 만들기
numbers = [x ** 2 for x in range(1, 11)]
numbers

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [38]:
# [0, 10) 범위의 난수 10개를 저장하는 리스트
numbers = [random.randrange(0, 10) for _ in range(10)]
numbers

[4, 1, 9, 0, 5, 3, 6, 0, 5, 9]

In [ ]:
# filtering
[value for x in iterable if condition]

# mapping
[value1 if condition else value2 for x in iterable]

In [84]:
gender_codes = [1, 2, 1, 2, 3]

# 1 -> 'M', 2 -> 'F', 3 -> 'Unknown' mapping해서 genders에 값 저장하기

genders = ['M' if x == 1 else ('F' if x == 2 else 'Unknown') for x in gender_codes ]
genders

['M', 'F', 'M', 'F', 'Unknown']