# tuple(튜플)

* 하나의 변수에 여러 개의 값들을 저장하기 위한 자료 타입.
* 리스트와 다른 점
    * 저장된 원소(아이템)들을 변경할 수 없는 리스트.
    * `append()`, `remove()`와 같은 원소를 변경하는 메서드(기능)은 제공하지 않음.
* 인덱스 기반 자료 타입.
    * 인덱스를 가지고 indexing, slicing이 가능하다.
    * 음수 인덱스도 사용 가능하다.

In [2]:
# 숫자들을 저장하는 튜플
numbers = (1, 2, 10, 20, 100, 200) # 튜플은 소괄호를 사용한다.
numbers

(1, 2, 10, 20, 100, 200)

In [4]:
type(numbers)

tuple

indexing : 인덱스를 사용해서 원소 1개를 참조하는 방

In [6]:
numbers[0] # 튜플의 첫번째 원소

1

In [8]:
# 튜플의 마지막 원소를 찾을 때
numbers[-1]

200

In [10]:
# 튜플에서 첫 3개의 원소들을 잘라내기 [0,3)
numbers[:3]

(1, 2, 10)

In [12]:
# 튜플에서 마지막 3개의 원소들을 잘라내기.
numbers[-3:]

(20, 100, 200)

## decomposition(분해)

In [17]:
odds = (1, 3, 5)
a = odds[0]
b = odds[1]
c = odds[2]
a, b, c

(1, 3, 5)

In [21]:
# 윗 코드를 간단하게 쓰는 방법
x, y = (1, 3)

## tuple & for

In [22]:
for x in odds:
    print(x)

1
3
5

# 2차원 리스트/튜플

In [24]:
numbers = [
    [1, 2, 3],
    [4, 5, 6]
]
numbers

[[1, 2, 3], [4, 5, 6]]

In [26]:
len(numbers) # 2차원 리스트 numbers의 원소 개수

2

In [27]:
import random

Ex.
1. 2x2 모양의 [0,10) 범위의 정수 난수들을 저장하는 2차원 리스트 array1을 만드세요.
1. 2x2 모양의 [0,10) 범위의 정수 난수들을 저장하는 2차원 리스트 array2을 만드세요.
1. array1과 array2의 같은 인덱스의 원소들끼리의 덧셈 결과를 저장하는 2차원 리스트 add를 만들고, 출력

In [33]:
array1 = [
    [random.randrange(0, 10) for _ in range(2)],
    [random.randrange(0, 10) for _ in range(2)]
]

array2 = [
    [random.randrange(0, 10) for _ in range(2)],
    [random.randrange(0, 10) for _ in range(2)]
]

add = [
    [x + y for x, y in zip(array1[0], array2[0])],
    [x + y for x, y in zip(array1[1], array2[1])]
]

print(array1)
print(array2)
add

[[4, 9], [6, 9]]
[[1, 1], [7, 5]]

[[5, 10], [13, 14]]

In [37]:
array1 = [
    [random.randrange(0, 10) for _ in range(2)] for _ in range(2)
]

array2 = [
    [random.randrange(0, 10) for _ in range(2)] for _ in range(2)
]

add = [
    [x + y for x, y in zip(array1[z], array2[z])] for z in range(0, 2)
]

add = [[x + y for x, y in zip(row1, row2)] for row1, row2 in zip(array1, array2)]

print(array1)
print(array2)
add

[[2, 9], [2, 1]]
[[8, 3], [1, 7]]

[[10, 12], [3, 8]]

# Set(집합)

* 중복된 데이터를 허용하지 않는다.
    * `{1, 2, 2, 3, 3} = {1, 2, 3}`
* 인덱스 기반의 자료 구조가 아님. 인덱스가 없음.
    * 데이터의 저장 순서가 중요하지 않음 : `{1, 2, 3} = {3, 1, 2}`
    * 인덱스가 없기 때문에, indexing, slicing 기능을 제공하지 않는다.
    * for-in 구문에서 사용할 수 있는 interable 타입.

In [39]:
# Set을 만드는 가장 간단한 방법
s = {1, 2, 2, 3, 3, 3} # 중괄호 사용
s
type(s)

set

# set의 기능(메서드)

In [42]:
s.add(5)
s

{1, 2, 3, 5}

In [48]:
s.add(5)
s #중복 값 이여서 추가가 안된다.

{1, 2, 3, 5}

In [49]:
s.remove(3) # set의 원소를 삭제 삭제할 원소를 아규먼트로 전달.
s

{1, 2, 5}

In [51]:
s.pop() # 삭제될 숫자를 조절할 수 없지만, 랜덤으로 숫자를 없애고 출력한다.
s

{5}

In [52]:
s1 = {1, 2, 3, 4}
s2 = {2, 3, 5, 6}

In [54]:
s1.union(s2) # 교집합

{1, 2, 3, 4, 5, 6}

In [56]:
s1.intersection(s2) #교집합

{2, 3}

In [58]:
s1.difference(s2) # 차집합 : s1 - s2

{1, 4}

In [59]:
s2.difference(s1) # 차집합 : s2 - s1

{5, 6}

# dict

* dictionary(사전) 형식의 데이터 타입.
* 키(key)를 기반으로 값(value)를 저장하는 데이터 타입.
    * list, tuple: 인덱스 기반의 데이터 타입.
    * dict: key-value 기반의 데이터 타입.
    * dict에서 key의 역할은 1개 아이템의 값(value)를 찾기 위한 용도.

In [61]:
students = {1: '홍길동', 2: '허균', 3:'오쌤'}
students

{1: '홍길동', 2: '허균', 3: '오쌤'}

In [62]:
type(students)

dict

`dict`에서 키를 사용하는 방법은 `list` 또는 `tuple`과 마찬가지로 인덱스 연산자([ ])를 사용함.

In [63]:
students[1] # dict에서 key가 1인 아이템의 value

'홍길동'

In [65]:
students[10] = '홍길동' # dict에 새로운 key-value 아이템을 추가
students

{1: '홍길동', 2: '허균', 3: '오쌤', 10: '홍길동'}

In [67]:
students[3] = 'scott' # dict에서 key에 해당하는 value를 수정.
students

{1: '홍길동', 2: '허균', 3: 'scott', 10: '홍길동'}

In [68]:
students.pop(3) # dict에서 해당하는 key의 아이템(key : value)을 삭제
students

{1: '홍길동', 2: '허균', 10: '홍길동'}

In [73]:
book = {
    'title': '점프 투 파이썬',
    'authors': ['박응용', '웨스 메키니'],
    'isbn': 123456789
}
book

{'title': '점프 투 파이썬', 'authors': ['박응용', '웨스 메키니'], 'isbn': 123456789}

In [74]:
book['title']

'점프 투 파이썬'

In [75]:
book['authors'][0]

'박응용'

In [77]:
contact = {
    'no': 1,
    'name': '오쌤',
    'phones': ['010-0000-0000', '02-0000-0000'],
    'emails': {
        'company': 'jake@itwill.co.kr',
        'personal': 'jake@naver.com'
    }
}
contact

{'no': 1,
 'name': '오쌤',
 'phones': ['010-0000-0000', '02-0000-0000'],
 'emails': {'company': 'jake@itwill.co.kr', 'personal': 'jake@naver.com'}}

In [79]:
for k in contact: # dict에서 for문을 반복하면 key값만 꺼내준다.
    print(k)

no
name
phones
emails

for-in 구문에서 dict를 사용하면 키(key)를 iteration함!

In [81]:
for k in contact:
    print(k, ':', contact[k])

no : 1
name : 오쌤
phones : ['010-0000-0000', '02-0000-0000']
emails : {'company': 'jake@itwill.co.kr', 'personal': 'jake@naver.com'}

In [82]:
contact.keys() # dict의 key들의 리스트(key들을 가지고 있는 객체)를 리턴.

dict_keys(['no', 'name', 'phones', 'emails'])

In [83]:
contact.values() # dict의 value들의 리스트를 리턴.

dict_values([1, '오쌤', ['010-0000-0000', '02-0000-0000'], {'company': 'jake@itwill.co.kr', 'personal': 'jake@naver.com'}])

In [85]:
contact.items()
# dict에서 (key, value)로 이루어진 튜플들의 리스트를 리턴.

dict_items([('no', 1), ('name', '오쌤'), ('phones', ['010-0000-0000', '02-0000-0000']), ('emails', {'company': 'jake@itwill.co.kr', 'personal': 'jake@naver.com'})])

In [86]:
for k, v in contact.items():
    print(k, v)

no 1
name 오쌤
phones ['010-0000-0000', '02-0000-0000']
emails {'company': 'jake@itwill.co.kr', 'personal': 'jake@naver.com'}

In [87]:
# Dictionary Comprehension

In [88]:
emp_no = [1001, 1002, 2001, 2002] # 직원 번호
emp_name = ['King', 'Scott', 'Allen', 'Tiger'] # 직원 이름

In [91]:
# emp_no를 key로 하고 emp_name을 value로 dict를 만들고 출력.
members = {
    k: v for k, v in zip(emp_no, emp_name)
}
members

{1001: 'King', 1002: 'Scott', 2001: 'Allen', 2002: 'Tiger'}

In [92]:
# key-value를 저장할 빈 dict
# 리스트의 원소 개수만큼 반복
# dict에 key-value 아이템을 저장

In [105]:
strings = ['hello', 'java', 'sql', 'python', 'javascript']
# 리스트 strings의 문자열을 키로 하고, 그 문자열의 길이를 값으로 하는 dict를 만들고 출력.
result = {
    k: v for k, v in zip(strings, (len(str) for str in strings))
}

result = {
    k: len(k) for k in strings
}

result

{'hello': 5, 'java': 4, 'sql': 3, 'python': 6, 'javascript': 10}