# Function(함수)

* function(함수) : 기능을 수행하는 코드 블록.
* argument: 함수를 호출하는 곳에서 함수에게 전달하는 값.
* parameter: 지역변수, argument를 저장하기 위해서 함수 선언부에서 선언하는 지역 변수.
* return value(반환값) : 함수가 기능의 수행 결과로 리턴하는 값.
    * retrun value가 있는 함수
    * retrun value가 없는 함수
* 파이썬 함수 정의 방법
    ```
    #파라미터는 함수 이름 옆에 소괄호를 열고 써야한다.
    def fuction_name([param, ...]):
        # 들여쓰기를 해줘야 한다.
        # 문서화 주석을 만들고, 만들때에는 큰따옴표(") 3개를 써야한다.
        ["""문서화 주석 - 함수 기능 설명, 파라미터 설명, 리턴 값 설명"""]
        함수 기능 구현
        [return 값] #리턴값이 없는 경우 생략 가능
    ```
* return value가 없는 경우:
    * return 문장을 생략.
    * return None 이라고 명시할 수도 있다.

In [ ]:
def subtract(x, y):
    """
    2개의 숫자 x, y를 전달받아서 x-y 결과를 리턴하는 함수.
    """

    return x - y

result = subtract(5, 6)
result

-1

In [ ]:
# 문자열과 숫자 하나를 전달 받아서 문자열을 숫자 수 만큼 출력해주는 함수.
def repeat_message(message, n):
    """
    문자열(message)를 양의 정수(n)번 만큼 반복해서 출력하는 함수.
    """
    for _ in range(n):
        print(message)
    return None
# 리턴 값이 없으면 보통 retrun문을 생략하지만, return None으로 명시하기도 한다.
repeat_message('와그작', 7)

와그작
와그작
와그작
와그작
와그작
와그작
와그작

In [16]:
import random

#Ex 1.
* 함수 이름: make_list
* 기능: start 이상 end 미만의 정수 난수 n개를 갖는 리스트를 반환하는 함수.

In [17]:
def make_list(start, end, n):
    """
    start 이상 end 미안의 정수 난수 n개를 갖는 리스트를 반환하는 함수.
    """

    return [random.randrange(start, end) for _ in range(n)]

numbers = make_list(0, 10, 5)
numbers

[5, 4, 2, 1, 1]

#Ex 2.
* 함수 이름: calc_sum
* 기능: 숫자들의 리스트를 전달받아서, 리스트의 모든 원소들의 합을 리턴하는 함수.

In [ ]:
def calc_sum(numbers):
    """
    숫자들의 리스트를 전달받아서, 리스트의 모든 원소들의 합을 리턴하는 함수.
    """

    total = 0

    for x in numbers:
        total += x

    return total

list_total = calc_sum(numbers)
list_total

303

# Ex 3.
* 함수 이름: calc_mean
* 기능: 숫자들의 리스트를 전달받아서, 리스트의 원소들의 평균을 리턴하는 함수.

In [ ]:
def calc_mean(numbers):
    """
    숫자들의 리스트를 전달받아서, 리스트의 원소들의 평균을 리턴하는 함수.
    """

    return calc_sum(numbers) / len(numbers)

list_av = calc_mean(numbers)
list_av

60.6

# Ex 4.
* 함수 이름: calc_var
* 기능: 숫자들의 리스트를 전달받아서, 리스트의 원소들의 분산(variance)을 리턴하는 함수.
    * 분산 = (값 - 평균)**2 들의 평균

In [ ]:
def calc_var(numbers):
    """
    숫자들의 리스트를 전달받아서, 리스트의 원소들의 분산(variance)을 리턴하는 함수.
    """

    vari = [(x - calc_mean(numbers))**2 for x in numbers]

    return calc_sum(vari) / len(vari)

list_vari = calc_var(numbers)
list_vari

[5, 6, 3, 5, 0]
3.8
[1.4400000000000004, 4.840000000000001, 0.6399999999999997, 1.4400000000000004, 14.44]

4.5600000000000005

In [1]:
#del sum #메모리에 있는 sum이라는 변수를 지워준다.

파이썬은 2개 이상의 값을 리턴하는 함수를 정의할 수 있다.

함수를 호출한 곳에서는 리턴 값을 튜플로 취급하면 된다.

```
x, y = (1, 2) # 튜플에 decomposition 기능.(성분 분)
```

In [8]:
def plus_and_minus(x, y):
    return x + y, x - y

In [10]:
result = plus_and_minus(1, 2)
result

(3, -1)

In [12]:
plus, minus = plus_and_minus(1, 2)
print(plus, minus)

3 -1

숫자들의 리스트를 전달받아서, 최댓값과 최솟값을 리턴하는 함수를 정의 하고, 테스트

In [22]:
def find_max_and_min(numbers):
    max = numbers[0]
    min = numbers[0]
    for x in numbers:
        if x > max:
            max = x
        if min > x:
            min = x
    return max, min

In [23]:
max, min = find_max_and_min(numbers)
print('numbers : ', numbers)
print(max, "/", min)

numbers :  [5, 4, 2, 1, 1]
5 / 1

숫자들의 리스트를 전달받아서 최댓값과 최댓값의 인덱스(위치)를 리턴하는 함수를 정의.

최댓값이 2개 이상인 경우, 먼저 나오는 최댓값의 인덱스를 리턴.

In [30]:
def find_max_and_index(numbers):
    max = numbers[0]
    for x in numbers:
        if max <= x:
            max = x
    return numbers.index(max)

In [31]:
max_index = find_max_and_index(numbers)
print(max_index)

0

# Default argument(기본 인수)

* 함수를 정의할 때 파라미터의 설정된 기본 값을 Default argument라고 한다.
    * 함수를 호출할 때 파라미터에 값을 전달하지 않으면, 기본값이 사용된다.
    * 함수를 호출할 때 파라미터에 값을 전달하면, 기본값은 무시되고 전달한 아규먼트가 사용됨
* **(주의)**
    * 함수를 정의할 때 Default argument를 갖는 파라미터들은 반드시 Default argument를 갖지 않는 파라미터들 뒤에 선언해야 한다.
    * 기본값을 갖지 않는 파라미터들을 먼저 선언하고, 그 다음에 기본값을 갖는 파라미터들을 선언해야 한다.

In [33]:
def repeat_message2(msg, n=1): # n을 Default argument라고 부른다. (기본값 1을 갖는다.)
    for _ in range(n):
        print(msg)

In [36]:
repeat_message2('배고프다.', 2)

배고프다.
배고프다.

파이썬은 중괄호가 없기때문에 코드를 쓰면, 무조건 내용을 만들어줘야된다.

In [ ]:
def test(msg, n=1):
    pass # 비워둘 수 없어서 넣어주는 값.

def test(n=1, msg): # Default argument가 앞에 있으면 문법 오류가 난다.
    pass

# argument 전달 방법 :

* positional argument: 함수 정의에서 선언된 파라미터 순서대로 아규먼트들을 전달하는 방법
* keyword argument: `param=value` 형식으로 아규먼트들을 전달하는 방법.
    * keyword argument 방식에서는 파라미터의 순서를 지키도 되고, 지키지 않아도 된다.
* **(주의)**
    * 함수 호출할 때 positional 방식과 keyword 방식을 함께 사용하는 경우에는, 반드시 positional argument를 먼저 사용하고, keyword argument는 나중에 사용해햐 한다.

In [37]:
def minus(x, y):
    return x - y

In [40]:
minus(1, 2) # positional argument

-1

In [42]:
minus(y=2, x=1) # keyword argument는 순서(position)를 지키지 않아도 된다.

-1

In [44]:
minus(1, y=2) # positional argument와 keyword argument를 같이 사용한 것.
              # 무조건 positional을 먼저 명시하고, keyword를 사용해야 한다.

-1

# 가변길이 인수(variable-length argument)

* 함수를 호출할 때, 전달하는 argument의 개수가 임의로 변할 수 있는 것.
    * 아규먼트를 전달하지 않아도 된다.
* 함수를 정의할 때 파라미터 이름 앞에 `*`를 사용하면 가변길이 인수를 전달받을 수 있다.
* 함수 내부에서 가변길이 인수는 튜플로 취급하면 된다.
    * for-in 반복문 사용 가능.
    * index 사용 가능.
**(주의)**
    * 가변길이 인수는 keyword 방식으로 전달할 수 없다. f(x=1, x=2, x=3)
    * 함수를 정의할 때, 가변길이 인수를 갖는 파라미터는 오직 1개만 선언 가능하다.

java: public void printf(String ... args) {}

In [45]:
def add_all(*values):
    total = 0
    for x in values:
        tatal += x

    return total

In [48]:
add_all(values=1) # keyword argument를 사용할 수 없다.

TypeError: ignored

In [50]:
def test(*x, *y):
    pass
test(1, 2, 3, 4, 5) # 오류가 나는 이유는 어디까지가 x이고 어디까지가 y인지 구별할 수 있는 방법이 없다.

SyntaxError: ignored

가변길이 인수 뒤에 파라미터가 있는 경우, 그 파라미터는 keyword 방식으로만 아규먼트를 전달할 수 있음.

In [51]:
def test(*x, y):
    print(x)
    print(y)

In [54]:
test(1, 2, 3, y=5)

(1, 2, 3)
5

In [55]:
def keyword_only(*, x, y, z): # *의 이름이 없다. 그래서 x, y, z는 반드시 넘겨야 되는 값이 된다.(keyword 방식)
    print(f'x = {x}, y= {y}, z = {z}')

In [60]:
keyword_only(x=1, y=2, z=5)

x = 1, y= 2, z = 5

In [62]:
print(1, 2, 3)

1 2 3

# 가변길이 키워드 인수 (varuable-length keyword argument)

* 함수를 정의할 때 파라미터 이름 앞에 `**`를 붙임.
* 가변길이 인수 : 함수를 호출할 때 전달하는 아규먼트의 개수 제한이 없다.
* keyword argument : 함수를 호출할 때 반드시 `param=value` 형식으로 전달해야 한다.
* 함수 내부에서 가변길이 키워드 인수는 dict로 취급한다.
* 함수 호출할 때 파라미터 이름은 아무렇게나 전달해도 된다.
* 가변길이 키워드 인수는 함수에서 1개만 사용 가능.

In [63]:
def test2(**kwargs):
    print(kwargs)

In [68]:
test2(x = 1) # 파라미터 이름을 아무렇게나 전달해도 상관이 없다.

{'x': 1}

In [69]:
def make_emp_info(emp_no, emp_name, **kwargs):
    emp = {'emp_no' : emp_no, 'emp_name': emp_name}
    for k, v in kwargs.items():
        emp[k] = v
    return emp

In [72]:
make_emp_info(2, '홍길동', email='gildong@naver.com', dept='HR')

{'emp_no': 2, 'emp_name': '홍길동', 'email': 'gildong@naver.com', 'dept': 'HR'}

In [73]:
def print_msg(msg):
    print(f'message={msg}')

In [74]:
print_msg('안녕하세요')

message=안녕하세요

In [75]:
print(print_msg('안녕하세요'))

message=안녕하세요
None