# 1급 객체(first-class object)로서의 함수

* 함수는 변수에 할당할 수 있다.
* 함수의 파라미터에 아규먼트로 다른 함수를 전달할 수 있다.
    * 함수는 아규먼트가 될 수 있다.
* 함수는 다른 함수의 리턴 값이 될 수 있다.
* 함수 내부에서 다른 함수를 정의할 수 있다.

In [1]:
def twice(x):
    return 2 * x

In [3]:
result = twice(100) # 함수 호출 결과(리턴 값)을 변수에 저장.
result

200

In [4]:
double = twice # 함수 (객체)를 변수에 저장
double

In [5]:
double(12)

24

함수를 아규먼트로 사용

In [6]:
def calculate(x, y, fn):
    result = fn(x, y)
    return result

In [9]:
def plus(x, y):
    return x + y

In [13]:
calculate(1, 2, plus)

3

In [14]:
def minus(x, y):
    return x - y

In [15]:
calculate(2, 3, minus)

-1

# 내부 함수, 함수 리턴

In [16]:
def make_increament(n): # 외부 함수
    def add_n(x): # 내부 함수. 지역 함수
        return x + n # 내부 함수는 외부 함수의 지역 변수(파라미터 포함)들을 사용할 수 있다.
    return add_n # 함수라는 객체를 리턴하겠다.

In [25]:
increase_by_2 = make_increament(2)
increase_by_2

In [27]:
increase_by_2(100)

102

In [29]:
increase_by_10 = make_increament(10)
increase_by_10(100)

110

In [31]:
make_increament(5)(100) # 이렇게 호출 가능.
# make_increament(5) 여기 까지가 함수 이기때문에 그 함수에 (100)을 넣은 것이다.

105

# Lambda expression(람다 표현식)

* lambda 키워드 사용
```
lambda param1, param2, ...: expression
```

* 이름이 없는 함수 표기법
* 함수 이름 없이 함수의 파라미터 선언과 반환 값 또는 반환 식으로만 함수를 정의하는 방법.
* 파이썬은 2줄 이상의 문장이 포함된 람다 표현식 문법을 제공하지 않는다.

In [34]:
minus = lambda x, y : x - y
minus

In [36]:
minus(3, 2)

1

In [38]:
calculate(2, 3, lambda x, y : x * y)

6

In [42]:
calculate(2, 3, lambda x, y : x / y)

0.6666666666666666

Ex 1. calculate 함수에 2개의 숫자 중에서 더 큰 수를 리턴하는 람다 표현식을 전달

In [46]:
calculate(10, 5, lambda x, y : x if x > y else y )

115

Ex 2. calculate 함수에 첫번째 아규먼트가 더 크면 true, 아니면 false를 리턴하는 람다 표현식을 전달.

In [50]:
calculate(100, 10, lambda x, y : True if x > y else False)

True

# filter 함수

조건에 맞는 원소들만 선택.

In [61]:
def my_filter(iterable, fn):
    """
    리스트 iterable의 원소들 중에서 함수 fn의 호출 결과 값이 True인 원소들로만 이루어진 리스트를 리턴한다.

    Parm iterable: 리스트.
    Parm fn: 아규먼트가 1개이고, true/false를 리턴하는 함수.
    """

    return [x for x in iterable if fn(x)]

    # return_list = []
    # for x in iterable:
    #     if fn(x):
    #         return_list.append(x)
    # return return_list

In [62]:
numbers = [1, -2, 3, 4, -5, -6, 7]

In [63]:
my_filter(numbers, lambda x : x > 0)

[1, 3, 4, 7]

In [67]:
strings = ['python', 'java', 'javascript', 'sql']
# my_filter 함수를 사용해서 strungs에서 5글자 이상인 문자열들만 필터링
my_filter(strings, lambda x : len(x) >= 5)

['python', 'javascript']

# map 함수

원소들을 규칙에 따라서 다른 값으로 변환.

In [73]:
def my_mapper(iterable, fn):
    """
    리스트 iterable의 원소들을 함수 fn의 리턴 값으로 변환한 리스트를 리턴.

    Param iterable: 리스트.
    Param fn: 아규먼트가 1개이고 리턴 값이 있는 함수.
    """

    return [fn(x) for x in iterable]

In [71]:
print(numbers)

[1, -2, 3, 4, -5, -6, 7]

In [74]:
# 리스트 numbers의 원소들의 제곱으로 이루어진 리스트
my_mapper(numbers, lambda x : x**2)

[1, 4, 9, 16, 25, 36, 49]

In [75]:
# numbers의 원소가 짝수이면 'even', 홀수이면 'odd'를 저장하는 리스트
my_mapper(numbers, lambda x : 'even' if x % 2 == 0 else 'odd')

['odd', 'even', 'odd', 'even', 'odd', 'even', 'odd']

In [76]:
strings

['python', 'java', 'javascript', 'sql']

In [82]:
# strings가 가지고 있는 문자열의 길이들로 이루어진 리스트.
result = my_mapper(strings, lambda x : len(x))
result

[6, 4, 10, 3]

In [89]:
# strings의 문자열들을 모두 대문자로 변환한 리스트
result = my_mapper(strings, lambda x : x.upper())
result

['PYTHON', 'JAVA', 'JAVASCRIPT', 'SQL']