<a href="https://colab.research.google.com/github/Le2Hee/python-itwill/blob/main/py09_OOP.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 객체 지향 프로그래밍(OOP : Object-Oriented Programing)

In [36]:
class Student:
    # 생성자 함수 : 생성자를 호출하면 파이썬 인터프리터에 의해서 자동으로 호출되는 메서드.
    # 생성자를 만들때는 def로 시작한다.
    # def 후 __를 사용 후 init후 __를 사용해서 선언한다.
    # 아규먼트는 ()를 사용해서 표현한다.
    # class안에서 def로 시작해서 메서드를 만들때 무조건 첫 아규먼트는 self라는 키워드를 사용한다.
    # self는 java에서 this와 똑같은 역할을 한다.

    def __init__(self, no, name, python, java, javascript): # init은 파이썬에서 특별하게 약속되어 있는 것이여서 이름은 고정되어 있다.
        self.no = no
        self.name = name
        self.python = python
        self.java = java
        self.javascript = javascript

    def get_total(self): # java와 다른점은 클래스 안에서 선언하는 메서드의 아규먼트는 무조건 self이다.
        # 파이썬의 메서드는 멤버들을 접근할 때 반드시 self 키워드를 사용해야 한다.
        # 이 메서드를 호출할 때에는 아규먼트가 없는 메서드이다.
        return self.python + self.java + self.javascript # java에서 this를 생략가능 했지만, python은 self가 생략되지 않는다. java는 변수를 선언하고 만들기 때문이다.

        # 파이썬 인터프리터가 self를 넣어준다.
        # 객체 studet1의 식(expression)을 출력할떄 나오는 0x7f93b92ae3e0(생성된 주소)를 파이썬 인터프리터 self에 넣어준다.

    def get_mean(self):
        return self.get_total() / 3

    def print_info(self):
        print(f'Student(번호={self.no}), 이름={self.name}, python={self.python} java={self.java}, javascript={self.javascript}')

In [37]:
# Student 타입의 객체 생성
# 파이썬에서는 new라는 키워드를 사용하지 않는다.
student1 = Student(1, '홍길동', 100, 90, 50) # class 이름으로 생성자 호출.

# init은 생성자 함수라고 부르지만, 코드에서 클래스 이름으로 호출하면 자동으로 init이 호출된다.

In [38]:
print(student1) # 객체 student1을 문자열로 출력

<__main__.Student object at 0x7f93a8b967a0>

In [39]:
student1 # 객체 studet1의 식(expression)을 출력.

In [40]:
student1.name

'홍길동'

In [41]:
student1.get_total()

240

In [42]:
student1.get_mean()

80.0

In [44]:
student1.print_info()

Student(번호=1), 이름=홍길동, python=100 java=90, javascript=50

In [45]:
import math
# math 모듈을 임포트 -> math.sqrt() (루트)

* class: Point
    * 2차원 평명의 점의 좌표 (x, y)를 표현하는 클래스
* 생성자 함수에서는 x, y를 초기화. x, y 기본값은 둘 다 0
* 메서드
    * move: 점의 좌표를 원래 위치에서 dx, dy만큼 이동시키는 메서드.
    * distance: 두 점 간의 거리를 계산해서 리턴하는 메서드.
        * `sqrt((x1 - x2)**2 + (y1 - y2)**2)`

* $를 사용하면 수학 문법을 사용할 수 있다.

>>> $ \sqrt{(x_1 - x_2)^2 + (y_1 - y_2)^2} $

In [57]:
class Point:

    def __init__(self, x=0, y=0):
        self.x = x
        self.y = y

    def move(self, dx, dy):
        """
        점의 좌표를 원래 위치에서 dx, dy만큼 이동시키는 메서드.
        """
        self.x = self.x + dx
        self.y = self.y + dy

    def distance(self, Point):
        """
        두 점 간의 거리를 계산해서 리턴하는 메서드.
        """
        return  math.sqrt((self.x - Point.x)**2 + (self.y-Point.y))

In [58]:
point1 = Point(10, 15)
point1
point2 = Point(5, 20)
point2

In [59]:
point1.move(5, 7)
print(point1.x, point1.y)

15 22

In [60]:
print(point1.distance(point2))

10.099504938362077

# magic method

모든 클래스가 같은 이름으로 가지고 있는 특별한 메서드.

특별한 경우에 파이썬 인터프리터에 의해서 호출되는 메서드.

이름 앞과 뒤에 __ 가 있다.(구별을 위해)

가장 대표적인 것
* `__init__()`
    * 생성자를 호출하면 자동으로 호출되는 메서드.
    * 인스턴스가 가지고 있는 필드(맴버, 프로퍼티)들을 선언하고 초기화하는 메서드.
* `__str__()`
    * `print()`의 아규먼트가 객체일 때 자동으로 호출되는 메서드.
    * 객체를 문자열로 표현해주는 메서드.
    * 문자열을 리턴하는 메서드.
* `__repr__()`
    * representation(표현)의 약자
    * 셀의 가장 마지막에서 자동으로 출력되는 식(expression)을 출력할 때 자동으로 호출되는 메서드.
    * `print()`의 동작 방식:
        * 객체를 출력하기 위해서, 그 객체의 `__str__()`를 먼저 호출한다.
        * 만약에 `__str__()`가 없는 경우에는, `__repr__()`를 호출한다.
        * `__str__()`와 `__repr__()`가 모두 없는 경우에는, 기본 문자열(... object at 0x...)로 출력.

In [71]:
class T:
    # def __str__(self):
    #     return 'Class T Instance'

    def __repr__(self):
        return 'T'

In [72]:
t = T() # 생성자 호출 -> __init__() 호출

In [73]:
print(t) # __str__()가 자동으로 호출된다.

T

In [74]:
t # __repr__() 가 자동으로 호출된다.

T

* `__eq__()`
    * `==` 연산자를 사용했을 때 자동으로 호출되는 메서드. (주소값을 비교하는 걸로 설정되어 있다.)
    * 두 객체가 같은 지 (True) 다른 지(False)를 리턴.

In [76]:
list1 = [1, 2, 3]
list2 = [1, 2, 3]

list1 == list2 # 자바에서는 list1의 주소값 list2의 주소값을 비교해서 false가 나오는데 파이썬은 안쪽 값을 비교해서 true가 나온다.
# list 클래스가 __eq__() 메서드를 구현하고 있기 때문에 안쪽 값을 비교한다.

True

In [100]:
class Number:
    def __init__(self, n):
        self.n = n

    def __repr__(self):
        return str(self.n)

    def __eq__(self, other):
        return self.n == other.n

In [101]:
n1 = Number(1)
n1

1

In [102]:
n2 = Number(1)
n2

1

In [103]:
n1 == n2 # n1.__eq__(n2) 와 같은 코드이다.

True

# Exercise

* class Score
    * 프로퍼티: korean, math, science(int 타입)
    * 메서드: `__init__()`, `__repr__()`, `__eq__()`, `get_total()`, `get_mean()`

* class Student
    * 프로퍼티: no(int), name(str), score(Score)
    * 메서드: `__init__()`, `__repr__()`

In [138]:
class Score:
    def __init__(salf, korean=0, math=0, science=0):
        salf.korean = korean
        salf.math = math
        salf.science = science

    def __repr__(salf):
        return f'국어 : {salf.korean}, 수학 : {salf.math}, 과학 : {salf.science}'

    def __eq__(salf, sc):
        # '\'을 사용하면 문장이 끝나지 않았다는 걸 알려준다. (한 줄로 작성하기가 길면 줄 바꿈 하기 전에 사용)
        return salf.korean == sc.korean and salf.math == sc.math and salf.science == sc.science

    def get_total(salf):
        """
        3과목의 총 합을 계산하는 메서드.
        """
        return salf.korean + salf.math + salf.science

    def get_mean(salf):
        """
        3과목의 평균을 계산하는 메서드.
        """
        return salf.get_total() / 3

In [139]:
class Student:
    def __init__(salf, no, name, Score):
        salf.no = no
        salf.name = no
        salf.Score = Score

    def __repr__(salf):
        return f"번호 = {salf.no}, 이름 = {salf.name}, 국어 = {salf.Score.korean}, 수학 = {salf.Score.math}, 과학 = {salf.Score.science}"

In [140]:
sc1 = Score(50, 84, 92)
sc1

국어 : 50, 수학 : 84, 과학 : 92

In [141]:
student1 = Student(1, '얍', sc1)
student1

번호 = 1, 이름 = 1, 국어 = 50, 수학 = 84, 과학 = 92

In [142]:
sc2 = Score(50, 84, 92)
sc2

국어 : 50, 수학 : 84, 과학 : 92

In [143]:
student2 = Student(2, '엽', sc2)
student2

번호 = 2, 이름 = 2, 국어 = 50, 수학 = 84, 과학 = 92

In [144]:
sc1 == sc2

True

# 상속(Inheritance)

* super class(상위 클래스), parent class(부모 클래스), base class(기본 클래스)
* sub class(하위 클래스), child class(자식 클래스), derived class(유도 클래스)
* 상속의 정의
    * 상의 클래스의 속성(데이터)들과 기능(메서드)들을 하위 클래스에서 재사용하는 것.
* 일반적으로 **IS-A** 관계가 성립하는 객체들을 상속을 사용해서 구현함.
    * IS-A (예시)
        * 학생은 사람이다.
        * 사람은 이름을 가지고 있다.
        * 학생은 이름만이 아니라 학교를 다니고 있으면 학교를 가지고 있다.
    * 학생은 사람이다 (Student IS A Person)

In [185]:
class Person:
    def __init__(self, name, age=0):
        self.name = name
        self.age = age

    def hello(self):
        print(f'안녕하세요, 저는 {self.name}입니다. 나이는 {self.age}입니다.', end=' ')

In [186]:
gildong = Person('홍길동')
gildong.hello()

안녕하세요, 저는 홍길동입니다. 나이는 0입니다.

In [187]:
class Student(Person):
    # 생성자 method override
    def __init__(self, name, age=0, school='Test'):
        # 하위 클래스에서 상위 클래스의 모든 메서드를 호출:
        super().__init__(name, age)
        self.school = school

    # hello method override
    def hello(self):  # 슈퍼클래스가 가지고 있는 메서드 이름을 똑같이 만들면 override가 된다.
        super().hello()
        print(f'학교는 {self.school}입니다.')

In [188]:
stu = Student(name='오쌤', age=16, school='아이디티윌')

In [189]:
stu.hello()

안녕하세요, 저는 오쌤입니다. 나이는 16입니다. 학교는 아이디티윌입니다.

# Method Override

* 상위 클래스의 메서드를 하위 클래스에서 재정의하는 것.
    * 파이썬에서는 메서드의 이름만 같으면 (파라미터 타입/개수와 상관 없이) 메서드가 재정의됨.
        * 파이썬은 같은 이름으로 2개 이상의 메서드(함수)를 가질 수 없음 - overloading은 제공하지 않음.
    * 자바에서는 메서드 이름, 파라미터 타입/개수/순서가 모두 동일한 경우에 메서드가 재정의됨.
        * 파라미터가 다르면 같은 이름의 메서드가 2개 이상 있을 수 있음 - overloading
* 하위 클래스에서 재정의(overrid)된 상위 클래스의 메서드를 명시적으로 호출하기 위해서는 `super().method_name(...)`의 형식으로 호출함.

In [190]:
def a():
    print('a')

In [191]:
def a(msg):
    print(msg)

In [194]:
# a() # Type 에러가 발생한다. a라는 메서드에는 한개의 반드시 필요한 아규먼트를 가지고 있어야 한다.
# 같은 이름으로 함수를 만들어 버리면 위쪽에서 만든 함수는 없어진다.

111

파이썬은 함수 (메서드) 오버로딩을 제공하지 않는다.

파라미터가 다르다고 해서 같은 이름으로 함수(메서드)를 정의할 수 없다.

같은 이름으로 함수를 정의하면, 가장 마지막에서 정의한 함수만 남음.

파이썬은 함수(메서드) 오버로딩 대신에, default argument를 이용하면, 같은 이르의 함수를 여러가지 방법으로 호출할 수 있음.

In [195]:
def a(mag='a'):
    print(mag)

In [197]:
a()

a

In [198]:
a('Test')

Test