CSV(Comma-Separated Values) 파일: 쉼표(,)로 값들이 구분된 텍스트 파일.

* Colab 가상머신 할당(연결)
* Colab에서 Google Drive를 마운트(연결)
* Google Drive 'Colab Notebooks/Github/Txt_File' 폴더에 'csv_enam' 파일을 업로드.

1. csv_exam.csv 파일을 읽기 모드로 open.
1. 파일의 첫번째 줄은 컬럼 이름이기 때문에, 읽고 추가 작업 없이 건너뛰기.
1. 파일의 두번째 줄부터 마지막 줄까지 한 줄씩 읽으면서 반복:
    * 각 줄에서 읽은 내용을 쉼표(,)로 구분한 리스트들을 저장하는 리스트를 만들기.
    * `[['1', '1', '50', '98', '50'],['2', '1', '60', '97', '60'], ...]`
1. 위에서 만들어진 2차원 리스트의 모든 값들을 숫자로 변환.
    * `[['1', '1', '50', '98', '50'],['2', '1', '60', '97', '60'], ...]`
1. 2차원 숫자 리스트에서 수학 점수들로만 이루어진 1차원 리스트를 만들기.
    * `[50, 60, 45, ...]`
1. 수학 점수의 평균, 최댓값, 최솟값을 찾기.
1. 1반(class=1)인 학생들의 수학 점수의 총점, 평균, 최대값, 최솟값을 찾기.

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
class Student:
    def __init__(salf, no, class_num, math, english, science):
        salf.no = no
        salf.class_num = class_num
        salf.math = math
        salf.english = english
        salf.science = science

    def get_total(salf):
        return salf.math + salf.english + salf.science

    def get_mean(salf):
        return salf.get_total() / 3

    def __repr__(salf):
        return f'no = {salf.no}, class = {salf.class_num}, math = {salf.math}, english = {salf.english}, science = {salf.science}'

In [ ]:
import os
file='/content/drive/MyDrive/Colab Notebooks/Github/Txt_File/csv_exam.csv'

In [ ]:
with open(file, mode='rt') as f:
    line = f.readline()
    for line in f:
        print(line.strip())

1,1,50,98,50
2,1,60,97,60
3,1,45,86,78
4,1,30,98,58
5,2,25,80,65
6,2,50,89,98
7,2,80,90,45
8,2,90,78,25
9,3,20,98,15
10,3,50,98,45
11,3,65,65,65
12,3,45,85,32
13,4,46,98,65
14,4,48,87,12
15,4,75,56,78
16,4,58,98,65
17,5,65,68,98
18,5,80,78,90
19,5,89,68,87
20,5,78,83,58

In [ ]:
students = []
with open(file, mode='rt') as f:
    line = f.readline()
    for line in f:
        list = line.split(',')
        students.append(Student(list[0], list[1], list[2], list[3], list[4]))
print(students[0])

no = 1, class = 1, math = 50, english = 98, science = 50

In [ ]:
students_math = [x.math for x in students]
students_math

['50',
 '60',
 '45',
 '30',
 '25',
 '50',
 '80',
 '90',
 '20',
 '50',
 '65',
 '45',
 '46',
 '48',
 '75',
 '58',
 '65',
 '80',
 '89',
 '78']

In [ ]:
math_total = sum(int(x) for x in students_math)
math_mean = math_total / len(students_math)
math_mean

57.45

In [ ]:
max = students_math[0]
min = students_math[0]
for x in students_math:
    if max < x:
        max = x
    if min > x:
        min = x
print(f'최댓값 = {max}, 최솟값 = {min}')

최댓값 = 90, 최솟값 = 20

In [ ]:
students_class_one = []
for x in students:
    if int(x.class_num) == 1:
        students_class_one.append(x)
print(students_class_one)

[no = 1, class = 1, math = 50, english = 98, science = 50
, no = 2, class = 1, math = 60, english = 97, science = 60
, no = 3, class = 1, math = 45, english = 86, science = 78
, no = 4, class = 1, math = 30, english = 98, science = 58
]

In [ ]:
# 1반(class=1)인 학생들의 수학 점수의 총점, 평균, 최대값, 최솟값을 찾기.
students_class_one_total = sum(int(x.math) for x in students_class_one)
print(f'총점 = {students_class_one_total}')
students_class_one_mean = students_class_one_total / len(students_class_one)
print(f'평균 = {students_class_one_mean}')
class_one_math_max = students_class_one[0].math
class_one_math_min = students_class_one[0].math
for x in students_class_one:
    if int(x.math) > int(class_one_math_max):
        class_one_math_max = int(x.math)

    if int(x.math) < int(class_one_math_min):
        class_one_math_min = int(x.math)
print(f'최댓값 = {class_one_math_max}, 최솟값 = {class_one_math_min}')

총점 = 185
평균 = 46.25
최댓값 = 60, 최솟값 = 30