# Function(함수)

* function(함수) : 기능을 수행하는 코드 블록.
* argument: 함수를 호출하는 곳에서 함수에게 전달하는 값.
* parameter: 지역변수, argument를 저장하기 위해서 함수 선언부에서 선언하는 지역 변수.
* return value(반환값) : 함수가 기능의 수행 결과로 리턴하는 값.
    * retrun value가 있는 함수
    * retrun value가 없는 함수
* 파이썬 함수 정의 방법
    ```
    #파라미터는 함수 이름 옆에 소괄호를 열고 써야한다.
    def fuction_name([param, ...]):
        # 들여쓰기를 해줘야 한다.
        # 문서화 주석을 만들고, 만들때에는 큰따옴표(") 3개를 써야한다.
        ["""문서화 주석 - 함수 기능 설명, 파라미터 설명, 리턴 값 설명"""]
        함수 기능 구현
        [return 값] #리턴값이 없는 경우 생략 가능
    ```
* return value가 없는 경우:
    * return 문장을 생략.
    * return None 이라고 명시할 수도 있다.

In [5]:
def subtract(x, y):
    """
    2개의 숫자 x, y를 전달받아서 x-y 결과를 리턴하는 함수.
    """

    return x - y

result = subtract(5, 6)
result

-1

In [10]:
# 문자열과 숫자 하나를 전달 받아서 문자열을 숫자 수 만큼 출력해주는 함수.
def repeat_message(message, n):
    """
    문자열(message)를 양의 정수(n)번 만큼 반복해서 출력하는 함수.
    """
    for _ in range(n):
        print(message)
    return None
# 리턴 값이 없으면 보통 retrun문을 생략하지만, return None으로 명시하기도 한다.
repeat_message('와그작', 7)

와그작
와그작
와그작
와그작
와그작
와그작
와그작

In [11]:
import random

#Ex 1.
* 함수 이름: make_list
* 기능: start 이상 end 미만의 정수 난수 n개를 갖는 리스트를 반환하는 함수.

In [37]:
def make_list(start, end, n):
    """
    start 이상 end 미안의 정수 난수 n개를 갖는 리스트를 반환하는 함수.
    """

    return [random.randrange(start, end) for _ in range(n)]

numbers = make_list(0, 10, 5)
numbers

[5, 6, 3, 5, 0]

#Ex 2.
* 함수 이름: calc_sum
* 기능: 숫자들의 리스트를 전달받아서, 리스트의 모든 원소들의 합을 리턴하는 함수.

In [21]:
def calc_sum(numbers):
    """
    숫자들의 리스트를 전달받아서, 리스트의 모든 원소들의 합을 리턴하는 함수.
    """

    total = 0

    for x in numbers:
        total += x

    return total

list_total = calc_sum(numbers)
list_total

303

# Ex 3.
* 함수 이름: calc_mean
* 기능: 숫자들의 리스트를 전달받아서, 리스트의 원소들의 평균을 리턴하는 함수.

In [23]:
def calc_mean(numbers):
    """
    숫자들의 리스트를 전달받아서, 리스트의 원소들의 평균을 리턴하는 함수.
    """

    return calc_sum(numbers) / len(numbers)

list_av = calc_mean(numbers)
list_av

60.6

# Ex 4.
* 함수 이름: calc_var
* 기능: 숫자들의 리스트를 전달받아서, 리스트의 원소들의 분산(variance)을 리턴하는 함수.
    * 분산 = (값 - 평균)**2 들의 평균

In [38]:
def calc_var(numbers):
    """
    숫자들의 리스트를 전달받아서, 리스트의 원소들의 분산(variance)을 리턴하는 함수.
    """

    vari = [(x - calc_mean(numbers))**2 for x in numbers]

    return calc_sum(vari) / len(vari)

list_vari = calc_var(numbers)
list_vari

[5, 6, 3, 5, 0]
3.8
[1.4400000000000004, 4.840000000000001, 0.6399999999999997, 1.4400000000000004, 14.44]

4.5600000000000005